@tailwind base;
@tailwind components;
@tailwind utilities;

html {
    scroll-behavior: smooth;
}

body {
    overflow-x: hidden;
}

img {
    max-width: 100%;
    display: block;
}

.active-nav {
    background-color: #2bb6b6;
    color: white;
    transform: skewX(-15deg);
}

.active-nav .nav-text {
    display: inline-block;
    transform: skewX(15deg);
    color: white;
}